@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf');
}