@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf');
}

@layer components {
    .container {
        @apply w-full max-w-[1928px]
    }

    .qa-input {
        @apply flex-1 outline-none pl-2 pr-3 py-1 font-bold font-montserrat
    }
}